<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1"> <!-- Ensures optimal rendering on mobile devices. -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge" /> <!-- Optimal Internet Explorer compatibility -->
    <link rel='stylesheet' href='/stylesheets/stylesheet.css' />
    <script src="javascripts/jquery-1.9.1.js"></script>    
  </head>
  <body>
    <div>
      <p>UCC</p>
      <div id="paypal-button-container"></div>
    </div>
    <script src="javascripts/ucc.js"></script>
  </body>
</html>